div {
  cursor: pointer;
  display: block;
  margin: auto;
  width: anything under 100%;
  text-align: center;
  font-size: 24px;
  padding: 3px;
  font-family: "Nunito", sans-serif;
}
li {
  cursor: crosshair;
}

background {
  /* The image used */
  background-image: url("http://24.media.tumblr.com/2050bee97c10c763cac0cd6f347d32cf/tumblr_mw48grNxww1rtp2uuo1_500.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Raleway", sans-serif;
  /* background { */
  /* The image used */

  /* Full height */
  /* height: 100%; */

  /* Center and scale the image nicely */
  /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
  /* } */
}
ul {
  box-sizing: border-box;
  width: 100%;
  border: solid black 1px;
  padding: 5px;
}
p {
  margin: 4px;
  font-size: 20px;
}

h1 {
  display: block;
  cursor: pointer;
  margin: auto;
  width: anything under 100%;
  text-align: center;
  padding: 5px;
  font-weight: 700;
  font-size: 40px;
  font-family: "Raleway", sans-serif;
}
.orange {
  background-color: orange;
  font-size: 20px;
  cursor: pointer;
}
.pink {
  background-color: pink;
  font-size: 20px;
  cursor: pointer;
}
.green {
  background-color: green;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.brown {
  background-color: brown;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.purple {
  background-color: purple;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.blue {
  background-color: blue;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.yellow {
  background-color: yellow;
  font-size: 20px;
  cursor: pointer;
}
.red {
  background-color: red;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
.all {
  font-size: 20px;
  cursor: pointer;
}
input {
  padding: 3px;
  width: 250px;
  margin-bottom: 5px;
}
/* button {
  font-size: 20px;
} */
